{% extends 'layout.jinja2' %}

{% block subtitle %}Login{% endblock %}

{% block content %}
<p>
<strong>
    Login
</strong><br>
</p>
<form action="{{ url }}" method="post">
<input type="hidden" name="next" value="{{ next_url }}">

    <label for="login">Username:</label>
    <input type="text" name="login" value="{{ login }}"></br>

    <label for="password">Password:</label>
    <input type="password" name="password"></br>

    <button type="submit" name="form.submitted" value="Log In" class="btn btn-default">Log In</button>
    <button type="submit" formaction='{{ request.route_url('register') }}'>Create Account</button>

</form>
{% endblock content %}